<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victoria.xshop.project.user.dao.UserAuthDao" >

    <resultMap id="UserAuthBaseResultMap" type="com.victoria.xshop.project.user.model.UserAuth" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
        <result column="is_perm" property="isPerm" jdbcType="INTEGER" />
    </resultMap>

    <sql id="UserAuth_Base_Column_List" >
        id, name, description, start_time, expire_time, is_perm
    </sql>

    <select id="selectUserAuthByPrimaryKey" resultMap="UserAuthBaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="UserAuth_Base_Column_List" />
        from xshop_user_auth
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteUserAuthByPrimaryKey" parameterType="java.lang.Long" >
        delete from xshop_user_auth
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertUserAuthSelective" parameterType="com.victoria.xshop.project.user.model.UserAuth" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into xshop_user_auth
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                name,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="startTime != null" >
                start_time,
            </if>
            <if test="expireTime != null" >
                expire_time,
            </if>
            <if test="isPerm != null" >
                is_perm,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null" >
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isPerm != null" >
                #{isPerm,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateUserAuthByPrimaryKeySelective" parameterType="com.victoria.xshop.project.user.model.UserAuth" >
        update xshop_user_auth
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null" >
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isPerm != null" >
                is_perm = #{isPerm,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>