<!DOCTYPE html>
<html lang="en">
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
我是主页

<form class="form-horizontal" action="/systemRead">
    <button type="submit" class="btn btn-default">读权限</button>
</form>

<form class="form-horizontal" action="/systemDelete">
    <button type="submit" class="btn btn-default">删除权限</button>
</form>
</body>
</html>